@import url(https://fonts.googleapis.com/css?family=Homemade+Apple|Open+Sans);

body {
	font-family: 'Open Sans', sans-serif;
	color: #000;
	font-size: 14px;
	line-height: 1.5em;
	margin:	2em;
}

h1 {
	font-weight: bold;
	font-size:60px;
	text-align:center;
	color:#fff;
	margin:75px 0 0;
}

h1, h2, h3 {
	font-family: 'Homemade Apple', serif;
	color: #2F4F4F;
}

.background {
	background: url(../images/bakingbackground.jpg) no-repeat center center scroll; 
	border: 1px black solid;
	padding: 20px;
	background-size: cover;
	height:250px;
	padding:20px 0;
	line-height: 6em;
}

.mission {
	width:42%;
	margin:1.5%;
/*	background-color: #E89C6C;
	border: 1px black solid;*/
	padding: 20px;
	float: left;
}

.mission img {
	max-width: 450px;
	display: block;
	margin:auto;
}

img {
	max-width: 50%;
	height: auto;
}

nav {
	background-color: #FFFFF0;
	border: 1px black solid;
	padding: 20px;
	text-align: center;
}

nav a {
	text-decoration: none;
	color: #000;
	font-family: 'Homemade Apple', serif;
	margin: 0 30px;
}
/*
#monthlycontent {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}
*/
#monthlycontent img {
	max-width: 150px;
	display: block;
	margin:auto;
	max-height: 100px;
}

#monthlycontent h2 {
	text-align: center;
	font-size: 2em;
}

#monthlycontent h3 {
	text-align: center;
	font-size: 1.5em;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.content {
	width:27%;
	margin:1%;
	background-color: #FFE2B8;
/*	border: 1px black solid;*/
	padding: 20px;
	float: left;
}
/*
aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}*/
/*
article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
	float: left;
}
*/
footer {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 0 0 0 20px;
}
/*
section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}
*/
.history {
	background-color: #FFE2B8;
	border: 1px black solid;
}
